<h1><%= @post.title %></h1>
<%= image_tag @post.image_url.to_s, width: '400px' %><br>
<p><%= @post.content %></p>
<%= link_to "Modifier le Post", edit_post_path(@post) %><br>
<%= link_to 'Supprimer le Post', post_path(@post), method: :delete %>
