<div class='container'>
<br>
<br>
<div class="col-xs-12 text-center">
    <% @boats.each do |boat| %>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="panel panel-default box-shadow">
        <div class="panel-heading preview">
        à partir de: <%= boat.price %> eur/nuit
        </div>
        <div class="panel-body">
          <div class="col-xs-12 text-center">
            <h5><%= link_to boat.name, boat %></h5><br>
            <%= boat.board %>
            <hr>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <strong><%= boat.itinerary %></strong>    <br>
              <%= image_tag "logo.png", heigth:12, width: 22 %> <%= boat.country %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  </div>

