<div class='background'>
<div class='container'>
<div class='row'>
<div class="col-xs-12 text-center">
<br>
SEARCH BAR
<hr>
</div>


<div class='row'>
<br>
<br>
<div class="col-xs-8 text-center">
    <% @boats.each do |boat| %>
    <%= link_to boat do %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="panel panel-default box-shadow">
        <div class="panel-heading preview">
        à partir de: <%= boat.price %> eur/nuit
        </div> <br>
          <%= cl_image_tag boat.photo, height: 140, width: 200, crop: :fill %>
        <div class="panel-body">
          <div class="col-xs-12 text-center">
            <h5><%= boat.name %></h5>
            <small><%= boat.board %></small>
            <hr>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <strong><%= boat.itinerary %></strong>    <br>
              <%= image_tag "logo.png", heigth:12, width: 22 %> <%= boat.country %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
  <div class="col-xs-4">
<div id="map" style="width: 90%; height: 700px;" data-markers="<%= @markers.to_json %>"></div>
  </div>
  </div>
  </div>
</div>
